<body>
    <div class="container">
        <h2>Registration Form</h2>
        <div class="form-container">
            <form action="">
                <div class="input-name">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="First Name" class="name">
    
                    <span>
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="First Name" class="name">
                    </span>
                </div>
    
                <div class="input-name">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" placeholder="Enter Email" class="text-name">
                </div>
    
                <div class="input-name">
                    <i class="fa-solid fa-lock"></i>
                    <input type="text" placeholder="Enter Password" class="text-name">
                </div>
    
                <div class="input-name">
                    <i class="fa-solid fa-lock"></i>
                    <input type="text" placeholder="Confirm Password" class="text-name">
                </div>
    
                <div class="input-name">
                    <input type="radio" class="radio-button" name="r1">
                    <label for="">Male</label>
    
                    <input type="radio" class="radio-button" name="r1">
                    <label for="">Female</label>
                </div>
    
                <div class="input-name">
                    <select name="" id="" class="country">
                        <option value="">Select a country</option>
                        <option value="">Select a country</option>
                        <option value="">Select a country</option>
                        <option value="">Select a country</option>
                        <option value="">Select a country</option>
                    </select>
    
                    <div class="arrow"></div>
                </div>
    
                <div class="input-name">
                    <input type="checkbox" class="check-button" name="r1">
                    <label for="">I accept the terms and conditions</label>
                </div>
    
                <div class="input-name">
                    <input type="submit" class="button" value="Register" name="r1">
                </div>
    
            </form>
        </div>
    </div>
</body>