<section class="product">
    <div class="container">
        <div class="slider-wrap">
            <div class="slider-main" #slider>
                <div class="item" #item>
                    <div class="text">1</div>
                </div>
                <div class="item" #item>
                    <div class="text">2</div>
                </div>
                <div class="item" #item>
                    <div class="text">3</div>
                </div>
                <div class="item" #item>
                    <div class="text">4</div>
                </div>
                <div class="item" #item>
                    <div class="text">5</div>
                </div>
                <div class="item" #item>
                    <div class="text">6</div>
                </div>
            </div>
            <div class="btn">
                <button appPrev class="prev"><i class="fa-solid fa-angle-left"></i></button>
                <button  class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</section>