<div class="text-center mt-5">
    <!-- <img src="" height="72" alt=""> -->
    <form action="" style="max-width:480px; margin:auto;">
    <h1 class="h3 mb-3 font-weight-normal">Signin</h1>
    <label for="name" class="sr-only">Email Address</label>
    <input type="text" class="form-control mt-4" id="name" placeholder="Name" required autofocus>
    <label for="emailAddress" class="sr-only">Email Address</label>
    <input type="text" class="form-control mt-4" id="emailAddress" placeholder="Email Address" required autofocus>
    <label for="password" class="sr-only">Email Address</label>
    <input type="password" class="form-control mt-4" id="password" placeholder="password" required autofocus>
    <label for=""><input type="checkbox" class="checkbox mt-4"> Remember me </label> 
    <label for=""></label>
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary">
            Signup
        </button>
    </div>
    </form>
</div>