<div class="container">
    <div class="input_fields">
        <div class="inputs">
            <label for="">
                Name <input type="text" placeholder="Enter name">
            </label>
        </div>
        <div class="inputs">
            <label for="">
                Email <input type="text" placeholder="Enter email">
            </label>
        </div>
        <div class="inputs">
            <label for="">
                Password <input type="text" placeholder="Enter password">
            </label>
        </div>
        <div class="inputs">
            <label for="">
                <input type="checkbox" placeholder="Enter password"> I agree to terms and condition.
            </label>
        </div>
        <div class="inputs">
            <label for="">
                <input type="button" value="Signup">
            </label>
        </div>
    </div>
</div>
