<div class="box">
    <section class="team">
        <div class="container">
            <div class="team-grid">
                <!-- team start -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/mens_dress4.jpg" alt="">
                        <div class="team-links">
                            <a href="" style="--i:0"><i class="fab fa-facebook-f"></i></a>
                            <a href="" style="--i:1"><i class="fab fa-twitter"></i></a>
                            <a href="" style="--i:2"><i class="fab fa-instagram"></i></a>
                            <a href="" style="--i:3"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>soshiv kumar</h3>
                        <p>web developer</p>
                    </div>
                </div>
                <!-- team end -->
                <!-- team start -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/mens_dress3.jpg" alt="">
                        <div class="team-links">
                            <a href="" style="--i:0"><i class="fab fa-facebook-f"></i></a>
                            <a href="" style="--i:1"><i class="fab fa-twitter"></i></a>
                            <a href="" style="--i:2"><i class="fab fa-instagram"></i></a>
                            <a href="" style="--i:3"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>bijli sharma</h3>
                        <p>web developer</p>
                    </div>
                </div>
                <!-- team end -->
                <!-- team start -->
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/mens_dress5.jpg" alt="">
                        <div class="team-links">
                            <a href="" style="--i:0"><i class="fab fa-facebook-f"></i></a>
                            <a href="" style="--i:1"><i class="fab fa-twitter"></i></a>
                            <a href="" style="--i:2"><i class="fab fa-instagram"></i></a>
                            <a href="" style="--i:3"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                    <div class="team-text">
                        <h3>birpal singh</h3>
                        <p>web developer</p>
                    </div>
                </div>
                <!-- team end -->
            </div>
        </div>
    </section>
    
</div>